.main-button {
    display: inline-block;
    background-color: #F25A70;
    color: #fff;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    background-color: #d36475;
    transform: scale(1.08);
}

.main-button:active{
    background-color: #d74d62;
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.01);
}