.main-banner{
    box-sizing: border-box;
    background-image: url(../../imagens/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .main-box{
    margin-bottom: 40px;
}

.main-banner .navigation{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

@media (max-width: 720px) {
    .main-banner .wrapper{
        width: 80%;
    }

    .main-banner .main-box h1 {
        font-size: 100%;
    }

    .main-banner .main-box  h2 {
        font-size: 100%;
    }
}

